<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  Submit Run...
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Submit Run</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<div class="box-body" style="display: block;">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="runId">Run</label>
							<div class="col-sm-10">
								<input class="form-control" id="runId" type="text" placeholder="Run Identifier" value="{{newRunId}}">
							</div>
							<label class="col-sm-2 control-label" for="clusterId">Cluster</label>
							<div class="col-sm-10">
								<select id="myDropdown" (ngModelChange)="onChange($event)"><option *ngFor="let item of clusters.items | async">{{item.id}}</option></select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" (click)="submit_run()">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div id="clusters" class="col-sm-2 col-md-2">
	<div class="box-body table-responsive">
		<h4>Clusters</h4>
		<table class="table no-margin">
			<thead>
				<tr>
					<th>Id</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody *ngFor="let item of clusters.items | async; let i = index" (click)="select_cluster(item)">
				<tr>
					<td>{{item.id}}</td>
					<td>{{item.state}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="runs" class="col-sm-2 col-md-2">
	<div *ngIf="selectedCluster">
		<div class="box-body table-responsive">
			<h4>Runs</h4>
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Id</th>
						<th>State</th>
						<th>Duration</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody *ngFor="let item of runs.items | async; let i = index" (click)="select_run(item)">
					<tr>
						<td>{{item.id}}</td>
						<td>{{item.state}}</td>
						<td>{{(item.stateTransitionTime - item.creationTime)/1000}} s</td>
						<td><button type="button" class="btn btn-default" (click)="download_data(item)">Download</button>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="graph" class="col-sm-8 col-md-8">
	<div *ngIf="selectedRun">
		<p> Your selected run is {{selectedCluster}}/{{selectedRun}}</p>
		<table>
			<tr>
				<td width="50px">
				</td>
				<td width="1200px">
					<div style="height: 300px;">
						<div id="graph-flot-realtime" style="height: 300px; padding: 0px;"></div>
					</div>
				</td>
			</tr>
		</table>

		<table>
			<tr>
				<td width="50px">
				</td>
				<td width="1200px">
					<div style="height: 300px;">
						<div id="graph-flot-realtime-minibatch" style="height: 300px; padding: 0px;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>