<bex-scrollable>
	<bex-loading [status]="status">
		<bex-quick-list>
			<bex-quick-list-item *ngFor="let account of displayedAccounts" [routerLink]="['/accounts/', account.name]" routerLinkActive="selected">
				<bex-quick-list-item-status [warning]="hasWarning(account)" [tooltip]="warningText(account)">
				</bex-quick-list-item-status>

				<h4 bex-quick-list-item-title>{{account.alias}}</h4>
				<p bex-quick-list-item-field>{{account.url}}</p>
			</bex-quick-list-item>
		</bex-quick-list>
	</bex-loading>
</bex-scrollable>
